# –ü—Ä–∞–∫—Ç–∏—á–µ—Å–∫–∞—è —á–∞—Å—Ç—å –∫ –ª–µ–∫—Ü–∏–∏ ‚Ññ 1 "–°–µ—Ä–∏–∞–ª–∏–∑–∞—Ü–∏—è –∏ —Å–æ—Ö—Ä–∞–Ω–µ–Ω–∏–µ –º–æ–¥–µ–ª–µ–π. Pipeline."
## 1. –ß—Ç–µ–Ω–∏–µ –¥–∞–Ω–Ω—ã—Ö

–í –∫–∞—á–µ—Å—Ç–≤–µ —Ä–∞–±–æ—á–µ–≥–æ –¥–∞—Ç–∞—Å–µ—Ç–∞ –≤–æ–∑—å–º—ë–º –∫–ª–∞—Å—Å–∏—á–µ—Å–∫–∏–π "–¢–∏—Ç–∞–Ω–∏–∫".

In [77]:
import numpy as np
import re

import pandas as pd
from sklearn.compose import ColumnTransformer
from sklearn.datasets import fetch_openml
from sklearn.feature_selection import SelectPercentile, chi2
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import RandomizedSearchCV, train_test_split
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler

np.random.seed(0)

In [78]:
data = pd.read_csv(re.sub('\s+', '', """https://raw.githubusercontent.com
                           /MariaZharova/Python-for-Data-Analysis/main/Pandas/train.csv"""))
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [71]:
display(data.describe())
data.astype('object').describe(include=['object'])

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891,891,891,891,891,714.0,891,891,891,891.00,204,889
unique,891,2,3,891,2,88.0,7,7,681,248.00,147,3
top,1,0,3,"Braund, Mr. Owen Harris",male,24.0,0,0,347082,8.05,B96 B98,S
freq,1,549,491,1,577,30.0,608,678,7,43.00,4,644

In [72]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

## 2. Pipeline
–≠—Ç–æ —à–∞–±–ª–æ–Ω-—Å—Ö–µ–º–∞ –¥–ª—è –æ–±—Ä–∞–±–æ—Ç–∫–∏ –¥–∞–Ω–Ω—ã—Ö

In [73]:
# –Ω–µ–∏–Ω—Ñ–æ—Ä–º–∞—Ç–∏–≤–Ω—ã–µ —Å—Ç–æ–ª–±—Ü—ã
data.drop(['Name', 'PassengerId', 'Ticket', 'Cabin'], inplace=True, axis=1)

# –≤—ã–¥–µ–ª—è–µ–º –ø—Ä–∏–∑–Ω–∞–∫–∏ –∏ —Ç–∞—Ä–≥–µ—Ç
X = data.drop('Survived', axis=1)
y = data['Survived']

# —á–∏—Å–ª–æ–≤—ã–µ —Ñ–∏—á–∏
numeric_features = ["Age", "Fare"]
numeric_transformer = Pipeline(
    steps=[("imputer", SimpleImputer(strategy="median")), ("scaler", StandardScaler())]
)

# –∫–∞—Ç–µ–≥–æ—Ä–∏–∞–ª—å–Ω—ã–µ —Ñ–∏—á–∏
categorical_features = ["Embarked", "Sex", "Pclass"]
categorical_transformer = Pipeline(
    steps=[
        ("encoder", OneHotEncoder(handle_unknown="ignore")),
        ("selector", SelectPercentile(chi2, percentile=50)),
    ]
)

# –¥–ª—è –ø–æ—Å–ª–µ–¥—É—é—â–µ–π –ø—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫–∏ —Ñ–∏—á–µ–π —Ä–∞–∑–Ω–æ–≥–æ —Ç–∏–ø–∞
preprocessor = ColumnTransformer(
    transformers=[
        ("num", numeric_transformer, numeric_features),
        ("cat", categorical_transformer, categorical_features),
    ]
)

In [74]:
# —Å–æ–µ–¥–∏–Ω—è–µ–º –ø—Ä–µ–¥–æ–±—Ä–∞–±–æ—Ç–∫—É –∏ –æ–±—É—á–µ–Ω–∏–µ –≤ Pipeline
clf = Pipeline(
    steps=[("preprocessor", preprocessor), ("classifier", LogisticRegression())]
)

# –¥–∞–ª—å—à–µ - –¥–µ–ª–æ —Ç–µ—Ö–Ω–∏–∫–∏
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

clf.fit(X_train, y_train)
print("model score: %.3f" % clf.score(X_test, y_test))

model score: 0.799

In [37]:
# –ø–æ–ø—Ä–æ–±—É–π—Ç–µ –∑–∞–ø—É—Å—Ç–∏—Ç—å 
# clf

![title](1.png)

## 3. –°–æ—Ö—Ä–∞–Ω–µ–Ω–∏–µ –º–æ–¥–µ–ª–µ–π: pickle –∏ joblib

In [38]:
import pickle
import joblib

In [ ]:
# –ø—Ä–æ–≤–µ—Ä—è–µ–º, —á—Ç–æ –º–æ–¥–µ–ª—å –Ω–µ –ø—É—Å—Ç–∞—è
clf['classifier']
# clf['classifier'].coef_

In [45]:
# —Å–æ—Ö—Ä–∞–Ω–µ–Ω–∏–µ –º–æ–¥–µ–ª–∏ (—Å–µ—Ä–∏–∞–ª–∏–∑–∞—Ü–∏—è)
with open('my_model.pkl', 'wb') as output:
    pickle.dump(clf['classifier'], output)

In [46]:
# –∑–∞–≥—Ä—É–∑–∫–∞ –∏–∑ —Ñ–∞–π–ª–∞ (–¥–µ—Å–µ—Ä–∏–∞–ª–∏–∑–∞—Ü–∏—è)
with open('my_model.pkl', 'rb') as pkl_file:
    model_from_file = pickle.load(pkl_file)

model_from_file

LogisticRegression()

In [51]:
# —Å—Ä–∞–≤–Ω–∏–º –∞–¥—Ä–µ—Å–∞ –º–æ–¥–µ–ª–µ–π –≤ –ø–∞–º—è—Ç–∏
print(id(clf['classifier']))
print(id(model_from_file))

140266652425456
140266652966560

In [49]:
# —á—Ç–æ –Ω–µ —Ç–∞–∫ —Å —ç—Ç–æ–π —Å—Ç—Ä–æ–∫–æ–π?
all(clf['classifier'].predict(X_test) == model_from_file.predict(X_test))

##### –ü–æ—ç—Ç–æ–º—É, —Å–æ—Ö—Ä–∞–Ω–∏–º –≤–µ—Å—å –ø–∞–π–ø–ª–∞–π–Ω!

In [52]:
# —Å–æ—Ö—Ä–∞–Ω–µ–Ω–∏–µ –ø–∞–π–ø–ª–∞–π–Ω–∞ (—Å–µ—Ä–∏–∞–ª–∏–∑–∞—Ü–∏—è)
with open('pipe.pkl', 'wb') as output:
    pickle.dump(clf, output)

In [54]:
# –∑–∞–≥—Ä—É–∑–∫–∞ –∏–∑ –ø–∞–π–ø–ª–∞–π–Ω–∞ (–¥–µ—Å–µ—Ä–∏–∞–ª–∏–∑–∞—Ü–∏—è)
with open('pipe.pkl', 'rb') as pkl_file:
    pipeline_from_file = pickle.load(pkl_file)

In [55]:
# –¢–µ–ø–µ—Ä—å –ø—Ä–æ–≤–µ—Ä–∏–º, —á—Ç–æ –≤—Å–µ —ç–ª–µ–º–µ–Ω—Ç—ã –º–∞—Å—Å–∏–≤–æ–≤ –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏–π —Å–æ–≤–ø–∞–¥–∞—é—Ç –º–µ–∂–¥—É —Å–æ–±–æ–π
all(clf.predict(X_test) == pipeline_from_file.predict(X_test))

True

##### –ê –µ—â—ë –µ—Å—Ç—å –±–∏–ª–∏–æ—Ç–µ–∫–∞ joblib

In [56]:
# –∞–Ω–∞–ª–æ–≥–∏—á–Ω–æ –¥–ª—è joblib
joblib.dump(clf, 'pipe.joblib')

pipeline_from_joblib = joblib.load('pipe.joblib') 

# –°—Ä–∞–≤–Ω–∏–≤–∞–µ–º –ø—Ä–µ–¥—Å–∫–∞–∑–∞–Ω–∏—è
all(clf.predict(X_test) == pipeline_from_joblib.predict(X_test))

True

In [57]:
print(id(clf))
print(id(pipeline_from_joblib))

140266652427136
140266652433376

##### –ê —á—Ç–æ –¥–∞–ª—å—à–µ?
–°–æ—Ö—Ä–∞–Ω–∏–≤ –ø–∞–π–ø–ª–∞–π–Ω, –º–æ–∂–Ω–æ –¥–µ–ª–∞—Ç—å –∏–Ω—Ñ–µ—Ä–µ–Ω—Å –º–æ–¥–µ–ª–∏!

##### –ò–Ω–æ–≥–¥–∞ –±—ã–≤–∞–µ—Ç –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –ø–æ—Å—Ç—Ä–æ–∏—Ç—å –∫–∞—Å—Ç–æ–º–Ω—ã–π –ø–∞–π–ø–ª–∞–π–Ω (–Ω–∞–ø—Ä–∏–º–µ—Ä, –¥–ª—è —Å–æ–∑–¥–∞–Ω–∏—è –Ω–æ–≤–æ–π —Ñ–∏—á–∏)
–î–ª—è —ç—Ç–æ–≥–æ –Ω–∞–º –ø–æ–Ω–∞–¥–æ–±–∏—Ç—Å—è "–∫–∞—Å—Ç–æ–º–Ω—ã–π —Ç—Ä–∞–Ω—Å—Ñ–æ—Ä–º–µ—Ä". –í–æ—Ç –ø—Ä–∏–º–µ—Ä —à–∞–±–ª–æ–Ω–∞:

In [ ]:
class MyTransformer(TransformerMixin, BaseEstimator):
    '''–®–∞–±–ª–æ–Ω –∫–∞—Å—Ç–æ–º–Ω–æ–≥–æ —Ç—Ä–∞–Ω—Å—Ñ–æ—Ä–º–µ—Ä–∞'''


    def __init__(self):
        '''–ó–¥–µ—Å—å –ø—Ä–æ–ø–∏—Å—ã–≤–∞–µ—Ç—Å—è –∏–Ω–∏—Ü–∏–∞–ª–∏–∑–∞—Ü–∏—è –ø–∞—Ä–∞–º–µ—Ç—Ä–æ–≤, –Ω–µ –∑–∞–≤–∏—Å—è—â–∏—Ö –æ—Ç –¥–∞–Ω–Ω—ã—Ö.'''
        pass


    def fit(self, X, y=None):
        '''
        –ó–¥–µ—Å—å –ø—Ä–æ–ø–∏—Å—ã–≤–∞–µ—Ç—Å—è ¬´–æ–±—É—á–µ–Ω–∏–µ¬ª —Ç—Ä–∞–Ω—Å—Ñ–æ—Ä–º–µ—Ä–∞.
        –í—ã—á–∏—Å–ª—è—é—Ç—Å—è –Ω–µ–æ–±—Ö–æ–¥–∏–º—ã–µ –¥–ª—è —Ä–∞–±–æ—Ç—ã —Ç—Ä–∞–Ω—Å—Ñ–æ—Ä–º–µ—Ä–∞ –ø–∞—Ä–∞–º–µ—Ç—Ä—ã (–µ—Å–ª–∏ –æ–Ω–∏ –Ω—É–∂–Ω—ã).
        '''
        return self


    def transform(self, X):
        '''–ó–¥–µ—Å—å –ø—Ä–æ–ø–∏—Å—ã–≤–∞—é—Ç—Å—è –¥–µ–π—Å—Ç–≤–∏—è —Å –¥–∞–Ω–Ω—ã–º–∏.'''
        # –°–æ–∑–¥–∞—ë–º –Ω–æ–≤—ã–π —Å—Ç–æ–ª–±–µ—Ü –∫–∞–∫ –ø—Ä–æ–∏–∑–≤–µ–¥–µ–Ω–∏–µ –ø–µ—Ä–≤—ã—Ö —Ç—Ä—ë—Ö
        new_column = X[:, 0] * X[:, 1] * X[:, 2]
        # –î–ª—è –¥–æ–±–∞–≤–ª–µ–Ω–∏—è —Å—Ç–æ–ª–±—Ü–∞ –≤ –º–∞—Å—Å–∏–≤ –Ω—É–∂–Ω–æ –∏–∑–º–µ–Ω–∏—Ç—å –µ–≥–æ —Ä–∞–∑–º–µ—Ä –Ω–∞ (n_rows, 1)
        new_column = new_column.reshape(X.shape[0], 1)
        # –î–æ–±–∞–≤–ª—è–µ–º —Å—Ç–æ–ª–±–µ—Ü –≤ –º–∞—Ç—Ä–∏—Ü—É –∏–∑–º–µ—Ä–µ–Ω–∏–π
        X = np.append(X, new_column, axis=1)
        return X

**–ë–æ–ª—å—à–µ –ø—Ä–∏–º–µ—Ä–æ–≤ –¥–ª—è Pipeline:** https://gist.github.com/amberjrivera/8c5c145516f5a2e894681e16a8095b5c

**–û—Ñ–∏—Ü–∏–∞–ª—å–Ω–∞—è –¥–æ–∫—É–º–µ–Ω—Ç–∞—Ü–∏—è:** https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html

## 4. –°–æ—Ö—Ä–∞–Ω–µ–Ω–∏–µ –º–æ–¥–µ–ª–µ–π:  PMML
–≠—Ç–∞ –±–∏–±–ª–∏–æ—Ç–µ–∫–∞ (–∞ —Ç–∞–∫–∂–µ ONNX) –∏—Å–ø–æ–ª—å–∑—É—é—Ç—Å—è –¥–ª—è —Å–æ—Ö—Ä–∞–Ω–µ–Ω–∏—è –Ω–µ–π—Ä–æ—Å–µ—Ç–µ–≤—ã—Ö –º–æ–¥–µ–ª–µ–π –∏ –µ—Å–ª–∏ –Ω–µ–æ–±—Ö–æ–¥–∏–º–æ –≤ –¥–∞–ª—å–Ω–µ–π—à–µ–º –≤—Å—Ç—Ä–∞–∏–≤–∞—Ç—å –∏—Ö –≤ —Å–µ—Ä–≤–∏—Å—ã –Ω–∞ –¥—Ä—É–≥–∏—Ö —è–∑—ã–∫–∞—Ö, –æ—Ç–ª–∏—á–Ω—ã—Ö –æ—Ç Python.

üìå –ú–æ–∂–µ—Ç —Å–æ—Ö—Ä–∞–Ω—è—Ç—å —Ç–æ–ª—å–∫–æ –ø—Ä–æ—Å—Ç—ã–µ —Ç—Ä–∞–Ω—Å—Ñ–æ—Ä–º–µ—Ä—ã –≤ –ø–∞–π–ø–ª–∞–π–Ω–∞—Ö!

In [66]:
# ! pip install nyoka

In [76]:
from nyoka import skl_to_pmml
from sklearn.preprocessing import MinMaxScaler
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LinearRegression
from sklearn.datasets import load_diabetes

X, y = load_diabetes(return_X_y=True)
cols = load_diabetes()['feature_names']

scaler = MinMaxScaler()
pipe = Pipeline([  
            ('Scaling', MinMaxScaler()),
            ('Linear', LinearRegression())
        ])
# –û–±—É—á–µ–Ω–∏–µ –ø–∞–π–ø–ª–∞–π–Ω–∞, –≤–∫–ª—é—á–∞—é—â–µ–≥–æ –ª–∏–Ω–µ–π–Ω—É—é –º–æ–¥–µ–ª—å –∏ –Ω–æ—Ä–º–∞–ª–∏–∑–∞—Ü–∏—é –ø—Ä–∏–∑–Ω–∞–∫–æ–≤
pipe.fit(X, y)
# –°–æ—Ö—Ä–∞–Ω–∏–º –ø–∞–π–ø–ª–∞–π–Ω –≤ —Ñ–æ—Ä–º–∞—Ç–µ pmml –≤ —Ñ–∞–π–ª pipeline.pmml
skl_to_pmml(pipeline=pipe, col_names=cols, pmml_f_name="pipeline.pmml")